@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ea5d26;
  border-radius: 8px;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #000000;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl mx-auto px-4;
  }
  .heading-1 {
    @apply font-raleway text-[2.5rem] sm:text-[3rem] md:text-7xl font-bold leading-tight tracking-tight;
  }
  .heading-2 {
    @apply font-raleway text-4xl md:text-5xl font-semibold leading-tight tracking-tight;
  }
  .desc {
    @apply font-inter font-light text-gray-600 leading-relaxed;
  }
  .active-link {
    @apply text-primary font-semibold relative after:content-[''] after:absolute after:left-0 after:-bottom-1 after:w-full after:h-[2px] after:bg-primary;
  }
  .primary-btn {
    @apply text-white hover:text-primary cursor-pointer font-medium tracking-wide bg-primary border border-primary hover:bg-transparent text-sm hover:shadow-lg hover:-translate-y-1 shadow-md shadow-red-500/20 rounded-md px-6 py-3 min-w-[8rem] flex justify-center items-center text-center transition-all duration-300;
  }
  .secondary-btn {
    @apply text-primary hover:text-white cursor-pointer font-medium tracking-wide bg-transparent border border-primary hover:bg-primary text-sm hover:shadow-lg hover:-translate-y-1 shadow-md shadow-transparent rounded-md px-6 py-3 min-w-[8rem] flex justify-center items-center text-center transition-all duration-300;
  }
  .tertiary-btn {
    @apply text-white cursor-pointer font-medium tracking-wide bg-black border border-black hover:bg-gray-900 text-sm hover:shadow-lg hover:-translate-y-1 shadow-md shadow-gray-500/20 rounded-md px-6 py-3 min-w-[8rem] flex justify-center items-center text-center transition-all duration-300;
  }
  .btn-styles {
    @apply hover:shadow-lg cursor-pointer tracking-wide hover:-translate-y-1 shadow-md shadow-transparent rounded-full px-6 py-3 min-w-[8rem] flex justify-center items-center text-center transition-all duration-300 font-medium text-sm;
  }
  .rounded-text-box {
    @apply px-5 py-2 rounded-full font-raleway min-w-[10rem] flex justify-center border border-gray-300 text-[.9rem] w-fit font-semibold bg-white shadow-sm;
  }
  .gradient-rounded-text-box {
    @apply px-5 py-2 rounded-full font-raleway min-w-[10rem] flex justify-center border text-[.9rem] w-fit bg-gradient-to-r from-red-500 to-red-700 font-bold border-red-200 bg-clip-text text-transparent shadow-sm;
  }
  .link {
    @apply cursor-pointer hover:text-primary transition-colors duration-300;
  }
}

/* menu offcanvas styles */
.EZDrawer .EZDrawer__container {
  background: #ffffff !important;
  width: 100vw !important;
  min-height: 100vh !important;
  overflow-y: scroll;
  z-index: 20;
}

/* banner video */
#banner video {
  object-fit: cover;
}

/* loading spinner styles */
.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #ff1f1f #ff1f1f transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #000000 #000000;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.react-player video {
  object-fit: fill !important;
}

@layer components {
  .gradient-border {
    @apply border-2 border-transparent;
    border-image: linear-gradient(
      90deg,
      rgba(255, 31, 31, 0.6) 0%,
      rgba(200, 200, 200, 0.4) 100%
    );
    border-image-slice: 1;
  }
}
